html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}

div{
  border: 1px solid gray;
}

.loginPage {
  width:960px;
  margin: 0 auto;
}

#playerArea {

}

#playerArea > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
  padding: 0;
  margin:0;
  list-style:none;
}

#playerArea > ul li{
  width: 300px;
  height: 150px;
  list-style:none;
}

.loginForm {
   height: 100px;
   margin-top: -100px;
   position: absolute;

   text-align: center;
   top: 50%;
   width: 100%;
}

.startForm {
  display: none;
}

.wrap {
  width:960px;
  margin: 0 auto;
  display: none;
}

#header {
  width:100%;
  height: 100px;
  margin:15px 0px;
  text-align: center;
  background-color: #EEE;
}

#middle {
  display: flex;
  flex-flow:row wrap;
  background-color: blue;

}

#leftArea {
  flex: 1 0 200px;
  padding: 0px 0px;
  background-color: yellow;
}

#MyPlayerArea {
  width: 100%;
  height: 100px;
}

#GameItemsArea {
  width: 100%;
  height: 400px;
  background-color: #EEE;
  padding: 15px;
}

#GameItemsArea > ul {
   display: flex;
   flex-flow: row wrap;
   justify-content:flex-start;
   align-items: center;
   list-style:none;
   padding: 0;
   margin:0;
}

#GameItemsArea > ul li {
  text-align: center;
  background-color: #069;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}

#GameItemsArea > ul li[disabled]{
  background-color: #ff0;
}

#rightArea {
  flex: 2 0 auto;
  padding:0 0px;
  background-color: red;
}

#OtherPlayersArea {
  width: 100%;
  height: 100px;
  background-color: #EEE;
}

#OtherPlayersArea > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
  padding: 0;
  margin:0;
  list-style:none;
}

#OtherPlayersArea > ul li{
  width: 80px;
  height: 80px;
  list-style:none;
}

#GameArea {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #EEE;
}

#FiledArea {
  flex: 2;
  padding: 15px;
}

#FiledArea > ul {
   display: flex;
   flex-flow: row wrap;
   justify-content:flex-start;
   align-items: center;
   list-style:none;
   padding: 0;
}

#FiledArea > ul li {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}

.vacant {
  background-color: gray;
}

.player1 {
  background-color: red;
  border-color: red;
}

.player2 {
  background-color: yellow;
  border-color: yellow;
}

.player3 {
  background-color: blue;
  border-color: blue;
}

.player4 {
  background-color: pink;
  border-color: pink;
}

.player5 {
  background-color: green;
  border-color: green;
}

#TradingArea {
  flex:1;
}

#ShipArea {
  flex:1;
  display: flex;
  flex-flow: row nowrap;
}

div .Ship {
  flex:1;
}

#SubmitArea {
  flex:1;
  background-color: #EEE;
}

#footer {
  width:100%;
  height:20px;
  text-align: center;
  background-color: #EEE;
  float:left;
}
