/*********変数定義*****************/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    background-color: #87CEEB;
    background-image: url("../image/bk.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}

body {
    margin: auto;
    width:85%;
    --player-area-height: 250px;
    --player-img-size: 150px;
}

p {
  line-height: 1px !important;
  font-size: 10px;
}

.vacant {
  background-color: gray;
}

.player0 {
  border-color: black;
  font-size: 5px;
}

.player1 {
  border-color: red;
  font-size: 5px;

}

.player2 {
  background-color: yellow;
  border-color: yellow;
}

.player3 {
  background-color: blue;
  border-color: blue;
}

.player4 {
  background-color: pink;
  border-color: pink;
}

.player5 {
  background-color: green;
  border-color: green;
}


.yellow {
  background-color:#FFFFBB;
}
.white {
  background-color: #FFFFEE;
}
.blue {
  background-color:#CCFFFF;
}
.lt-brown {
  background-color:#FFE4C4;
}
.dk-brown {
  background-color:#CD853F;
}
.gray {
  background-color:#EEE;
}
.green {
  background-color:#669900;
}
.purple {
  background-color:#D0B0FF;
}

.corn {
  background-image: url("./image/corn.png");
  background-color:#FFCC00;
}
.sugar {
  background-image: url("./image/sugar.png");
  background-color: #FFFFEE;
}
.indigo {
  background-image: url("./image/indigo.png");
  background-color:#000080;
}
.tobacco {
  background-image: url("./image/tobacco.png");
  background-color:#770000;
}
.coffee {
  background-image: url("./image/coffee.png");
  background-color:#330000;
}



hr {
	/*border-top: 0.5px solid #bbb;*/
  display: block;
  width: 100%;
  height: 2px;
  background-color: #bbb;
  border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}

/**************loginPage****************************/
.loginPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.loginForm {
   position: absolute;
   top: 200px;
   text-align: center;
   width: 100%;

   /*background-color: #87CEEB;*/
}


#playerArea {
  padding: 50px;
}

#playerArea > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
  padding: 0;
  margin:0;
  list-style:none;
  border-style: 1px;
}

#playerArea > ul li{
  width: 150px;
  height: 150px;
  list-style:none;
  font-size: 1em;
}

#playerArea img{
  width: 150px;
  height: 150px;
}


.startForm {
  display: none;
  text-align: center;
}

/***************game page*************************************/
.wrap {
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  margin: 50px,0px,50px,0;
  opacity: 1;
  display: none;
}


#header {
  width:auto;
  height: 180px;
  text-align: center;
  background-image: url("../image/myLOGO.png");
  background-repeat: no-repeat;
  background-position: top;
}

#middle {
  display: flex;
  flex-flow:row wrap;
  background-color: #EEE;
  background-image: url("../image/lawn0.jpg");
  background-repeat: repeat;
}

#leftArea {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 350px;
  padding: 0px 0px;
  border: 0.5px solid #bbb;
}


#leftArea ul {
   display: flex;
   flex-flow: row wrap;
   justify-content:center;
   align-items: center;
   list-style:none;
   padding: 0;
}

#leftArea li {
  text-align: center;
  width: 100px;
  height: 50px;
  border: 1px solid gray;
}


.playerArea{
  /** width: 100%  不需要**/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border: 10px solid #336600;
}

.myFiled{
  width: 100%;
  margin: auto;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.myFiled p{
  font-size: 10px;
}

.myFiled li img{
  width: 18px;
  height: 18px;
}

/*#MyPlayerArea {
  border-style: 1px;
  padding-left: 20%;
  padding-right:20%;
  padding-top: 20px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}*/

/*#MyPlayerArea img{
  width: var(--player-img-size);
  height: var(--player-img-size);
}

#MyPlayerArea p img{
  width: 20px;
  height: 20px;
}

#MyPlayerArea p{
  line-height: 1px;
  padding: 0;
  margin: 0;
}*/
.playerInfo{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.playerState {
  /** width: 100%  不需要**/
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.playerState img{
  width: 20px;
  height: 20px;
}


.face img{
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.playerinfo p{
  line-height: 1px;
  padding: 1px;
  margin: 0;
}

.playerinfo p img{
  width: 20px;
  height: 20px;
}


.filed{
  /** width: 100%  不需要**/
  margin: auto;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.filed p{
  font-size: 10px;
}

.filed li img{
  width: 18px;
  height: 18px;
}

#OtherPlayerArea{
 /** width: 100%  不需要**/
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
}

.otherPlayerArea{
 /** width: 100%  不需要**/
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 margin: 0;
 padding: 0;
}


/********************/
#rightArea {
  width:500px;
  flex: 2 0 auto;
  padding:0 0px;
}


#GameArea {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.messages {
  height: 100px;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.messageRole {
  color:yellow;
}

.messageSelect {
  color:blue;
}

.messageGameEvent {
  color:red;
}

.messageNewRound{
  color:#800080;
}

#RolesArea {
  width:100%;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
}

#RolesArea .group {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:flex-end;
  text-align: center;
  margin: 20px;
}

#RolesArea img{
  width: 100px;
  height: 100px;
}

#RolesArea .disabled{
  background-color: gray;
  opacity: 0.2;
}

#RolesArea .roleCoin img{
  width: 15px;
  height: 15px;
}

#seaArea {
  background-image: url("../image/sea.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#seaArea img{
  width: 200px;
  height: 150px;
}

#seaArea li{
  border-width: 0.5px;
  border-color: gray;
  border-style: solid;
}

#seaArea li img{
  width: 40px;
  height: 40px;
}

#colonistArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#ColonistsShip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#ColonistsShip img{
  width: 50px;
  height: 50px;
  padding:10px;
}

#TradingArea {
  flex:1;
}

#ShipArea {
  flex:1;
  display: flex;
  flex-flow: column nowrap;
}

.shipDiv{
  padding: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.shipDiv img{
  width: 100px;
  height: 100px;
}

.Ship {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 30px;
}

.Ship li {
  width: 50px;
  height: 50px;
  padding: 5px;
}

#footer {
  width:100%;
  height:20px;
  text-align: center;
  float:left;
  background-color: #FFCC33;
}
