.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
}

.popup {
  margin: 200px auto;
  padding: 20px;
  background: #fff;
  background-image: url("../image/bk-pop.jpg");
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}


.popup .element {
  max-height: 30%;
  overflow: auto;
}

.popup input[style:button] {
  font-size: 5em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.popup input[style:button]:hover {
  background: #06D85F;
}

.popup ul {
   display: flex;
   flex-flow: row wrap;
   justify-content:flex-start;
   align-items: center;
   list-style:none;
   padding: 0;
}

.popup li {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}

#message{
  padding: 10px;
  font-size: 1em;
}

#element{
  padding: 8px;
  font-size: 1em;
}

#element p{
  font-size: 1em;
}

#element img{
  width: 50px;
  height: 50px;
}

#element input{
  width: 20px;
  height: 20px;
}
