  .Table
   {
       display: table;
       width:90%;
       background-color: #EEE;
       text-align: center;
   }
   .Title
   {
       display: table-caption;
       text-align: center;
       font-weight: bold;
       font-size: larger;
    }
   .Heading
   {
       display: table-row;
       font-weight: bold;
       text-align: center;
       height: 50px;
   }

   .Row
   {
       display: table-row;
       height: 50px;
   }

   .Cell
   {
       display: table-cell;
       border: solid;
       border-width: thin;
       padding-left: 5px;
       padding-right: 5px;
   }

   .grayCell{
     display: table-cell;
     border: solid;
     border-width: thin;
     padding-left: 5px;
     padding-right: 5px;
     background-color: #A9A9A9;
   }

   .grayCell img{
     width: 30px;
     height:30px;
   }
